<link rel="stylesheet" href="/static/login.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
 
<form action="/createaccountforreal" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Create Account</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				<br>
				<div class ="control-group">
				    <select id ="dropDownId" name="condition"> <!-- give an id to select box-->
      				<option value="">Select Option</option>
      				<option value = "trauma victims">Trauma Victims</option>
      				<option value = "family problems">Family Problems</option>
      				<option value = "cancer">Cancer</option>
      				<option value = "suicide loss">Suicide Loss</option>
      				<option value = "depression">Depression</option>
      				<option value = "bipolar disorder">Bipolar Disorder</option>
      				<option value = "academic stress">Academic Stress</option>
  					</select>
				</div>
				
			</div>
 
                <input type="submit" value="Create Account" class="btn btn-primary btn-large btn-block" >

			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}