<!DOCTYPE html>
<html>
<title>Support Group Connect Portal</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/portal.css" type="text/css">

<head>
<title>Support Group Connect Portal</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/portal.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		var friendlist = {{friendlist|tojson}}
		var className = ""
		for(i = 0; i < friendlist.length; i++){
			if(i%2 == 0){
				className = "notendofline"
			}
			else{
				className = "endofline"
			}
			$('#friendlist ul').append("<li style='color: white' class='" + className + "'>" + friendlist[i] + "</li>")
		}
		var suggestionlist = {{suggestionlist|tojson}}
		for(i = 0; i < suggestionlist.length; i++){
			$('#suggestionlist ul').append("<li style='color: white'>" + suggestionlist[i] + "</li>")
		}
	})
</script>
<style>

</style>
</head>

<h1 id = "title">Social Support Group App </h1>
<h2 class = "bdy" style="text-align:center"> Welcome {{session['username']}} </h2>
<p class = "bdy">

<h4 style="text-align: center"><a href = "/logout">Logout</a></h4>
<p class = "bdy" style="text-align: center">

Support Group Connect is here to help you find a support group going through similar times as you have.  
</p>

<div id="friendlist">
<h2 style="color:white">Friend List:</h2>
<ul style="list-style-type: none"></ul>
</div>

<div id="suggestionlist">
<h2 style="color:white">Suggestion List:</h2>
<ul style="list-style-type: none"></ul>
</div>

<h2 style="color:white">Suggested Group Chats:</h2>
<h2><a href="google.com" style="text-transform: capitalize">{{session['condition']}} Connect</a></h2>

<h2 style="color:white">Other Group Chats:</h2>
<h2><a href= "http://localhost:4000/login/chatroomcancer">Cancer Connect</a></h2>

<h2 style="color:white">Add a Friend:</h2>

<form action="/addfriend" method = "POST">
	<input type="text" name="friendname">
	<input type="submit" value="add friend">
</form>

</html>
