<!DOCTYPE html>
<html>
<title>Support Group Connect Portal</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/portal.css" type="text/css">

<h1 id = "title">Social Support Group App </h1>
<h2 class = "bdy"> Welcome {{username}} </h2>
<p class = "bdy">
Support Group Connect is here to help you find a support group going through times similar to yours.  
</p>

<a href = "/logout">Logout</a>

<h4 class = "bdy">Suggested People</h4>
<ul>
	<li>Derek</li>
	<li>Marissa</li>
	<li>Marshall</li>
	<li>Josh</li>
</ul>

</html>
